<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<meta name="author" content="" />
<title>{{domain_url}} - {{pageTitle}}</title>
<link rel="shortcut icon" href="{{domain_url}}/images/favicon.png" type="image/png">
<meta name="description" content="{{desc}}" />
<meta name="keywords" content="{{desc}}" />
<meta property="fb:app_id" content="{{fb_id}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{domain_url}}" />
<meta property="og:image" content="{{domain_url}}/images/img{{headimage}}.jpg" />
<meta property="og:description" content="{{fbDesc}}"" />
<meta property=" og:site_name" content="{{domain_url}} - {{title}}" />
<script src="https://kit.fontawesome.com/73accfa96a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/styles.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="./css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143780056-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-143780056-2');
</script>