<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="" />
<title>{{domain_url}} - Country Facts</title>
<link rel="shortcut icon" href="{{domain_url}}/images/favicon.png" type="image/png">
<meta name="description" content="{{desc}}" />
<meta name="keywords" content="{{desc}}" />
<meta property="fb:app_id" content="{{fb_id}}" />
<meta property="og:title" content="This is your original country" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{domain_url}}" />
<meta property="og:image" content="{{domain_url}}/images/img{{hello}}.jpg" />
<meta property="og:description" content="Liked it? Click Here for Epic Country Facts." />
<meta property="og:site_name" content="{{domain_url}} - What is your original country?" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/73accfa96a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/styles.css" />
<link rel="stylesheet" href="./css/responsive.css" />